
<div style="margin-top: 10%">
    <p style="text-align: center; font-size: 4em; font-family: Arial; font-weight: bold">Wiki Search</p>
</div>

<div style="margin-top: 3%">
    <form class="input-group col-md-6 col-md-offset-3">
        <input name="key" type="text" class="form-control" placeholder="Key Words Here" ng-model="searchText"/>
        <span class="input-group-btn">
            <button type="submit" class="btn btn-info btn-search" ng-click="searchClick()">Search</button>
        </span>
    </form>
</div>



